# Enable verbose program output. Useful to debug problems (d-uh).
debug: false

# Configuration relating to how the program
# behaves as a whole.
application:
    # If false, use windowed mode.
    fullscreen: false
    # What resolution should we use?
    resolution: [800, 600]
    # Name of theme we load.
    theme: default
    # Minimum FPS (we redraw at LEAST every 1/min_fps seconds)
    # Increasing this increases CPU usage, even when idle.
    min_fps: 0.5
    # Maximum FPS (we sleep if we're about to draw more often than this)
    max_fps: 20
    # Which plugins should we use at application level?
    # (Stuff like Clock, LircInput, etc)
    plugins: 
        Clock: {}

# Configuration deciding how the videobrowser behaves.
videobrowser:
    # This is the dir that contains a "mirror" of the browsed directories,
    # it's used to store a persistent lookup for which directories have been
    # played.
    played_dir: /tmp/played

# Decides how mplayer behaves
mplayer:
    # Should mplayer use it's own window, or the pymei window?
    separate_window: false

# Configuration deciding how the main menu behaves.
menu:
    # List of different menu choices.
    choices: [ 
        {    # Configuration for a video browser for /tmp/series
            title: Series,
            type: browser_video,
            path: /tmp/series
        }, { # Configuration for a custom plugin.
            title: XKCD,
            type: plugin,
            plugin: XkcdBrowser,
            cache_dir: /tmp/xkcd
        }, { # Configuration for a custom plugin.
            title: Woot,
            type: plugin,
            plugin: HelloWorld
        }, { # Configuration for a submenu of plugins.
            title: NRK,
            type: menu,
            choices: [
                { # This plugin starts a VLC for the given stream.
                    title: NRK1,
                    type: plugin,
                    plugin: StreamPlayer,
                    stream: "udp://@224.17.42.1"
                }, {
                    title: NRK2,
                    type: plugin,
                    plugin: StreamPlayer,
                    stream: "udp://@224.17.42.2"
                }, {
                    title: NRK3,
                    type: plugin,
                    plugin: StreamPlayer,
                    stream: "udp://@224.17.42.3"
                }
            ]
        }
    ]

